<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
   <link rel="stylesheet" href="/static/DST/css/third_party/bootstrap.min.css">
    <link rel="stylesheet" href="/static/DST/css/third_party/font-awesome.min.css">
    <link rel="stylesheet" href="/static/DST/css/third_party/jquery-ui.min.css"/>
    <link rel="stylesheet" href="/static/DST/css/third_party/lobipanel.css"/>
    <link rel="icon" href="/static/DST/favicon-32x32.png" sizes="32x32" />

    <script type="text/javascript" src="/static/DST/js/third_party/angular.min.js"></script>
    <script type="text/javascript" src="/static/DST/js/third_party/angular-resource.min.js"></script>
    <script type="text/javascript" src="/static/DST/js/third_party/angular-route.min.js"></script>
    <script type="text/javascript" src="/static/DST/js/third_party/ngDraggable.js"></script>
    <script type="text/javascript" src="/static/DST/js/third_party/sortable.js"></script>



{# Angular Classes are defined here #} 
    <script src="/static/DST/js/base_ang.js"></script>

{#  #}


    
  </head>

  <body>

    <script src="/static/DST/js/add_fun.js"></script>

    <div id="hudx" ng-controller="Tester">
        <div ng-controller="HUD">
            <h3> This is a new |[ bags ]| and |[ work ]|</h3>
        </div>
    </div>

  </body>